{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Page</h1>
                <a href="/">Home Page</a>

                <p>

                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your remote ip address is: {{index .StringMap "remote_ip"}}
                    {{else}}
                        Unable to locate IP address. Visit <a href="/">Home Page</a> to save it.
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}